/src-tauri/target/
/src-tauri/gen/
/native/**/obj/
/native/**/dist/
/native/**/Debug/
/native/**/Release/
/native/**/packages/
/native/**/.vs/
/native/**/.git.codex-backup/
*.obj
*.tlog
*.lastbuildstate
*.recipe
*.ilk
*.iobj
*.ipdb
*.pdb
*.log
